table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tfoot {
    font-weight: bold;
  }
  
  .remove-btn {
    background-color: #FF0000;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .remove-btn:hover {
    background-color: #F00;
  }
  